:root {
    --dotSize: 12px;
    --selectColor: #bbb;
    --accentColor: #eee;
    --bgColor: #fff;
    --contentWidth: 900px;
    --collectionGap: 5px;
    --fontSize: 12pt;

    --imgSize: calc(var(--contentWidth) * 3 / 7);
    --tileSize: calc((var(--contentWidth) / 4) - var(--collectionGap) + 1px);
}

@font-face {
    font-family: kanit;
    src: url(font/Kanit-Regular.ttf);
}

@font-face {
    font-family: lexend;
    src: url(font/LexendExa-Medium.ttf);
}

@font-face {
    font-family: zalando;
    src: url(font/ZalandoSansExpanded-Black.ttf);
}

@font-face {
    font-family: corben;
    src: url(font/Corben-Regular.ttf);
}

* {
    margin: 0px;
    font-family: corben;
    font-size: var(--fontSize);
}

h1,
h2,
h3 {
    font-family: zalando;
    margin-bottom: 10pt;
}

h1 {
    font-size: calc(var(--fontSize) * 2.2);
}

h2 {
    font-size: calc(var(--fontSize) * 1.8);
}

h3 {
    font-size: calc(var(--fontSize) * 0.8);
}

p {
    line-height: 18pt;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgColor);

    padding: 0px 10px;
    margin-bottom: 20px;
}

nav ul {

    display: flex;
    justify-content: right;

    list-style-type: none;
    gap: 10px;
}

#zoom-container>* {
    width: 200px;
    height: 200px;
    object-fit: contain;
    background-color: red;
}


#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.focus-project {
    position: absolute;

    width: var(--contentWidth);
    background-color: var(--bgColor);
    display: flex;

    gap: 20px;

    border-radius: 2px;

    box-sizing: border-box;
    padding: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;

    transition: opacity 100ms;
}

.default-project {
    position: relative;
}

.active-project {
    opacity: 100%;
    z-index: 1;
}

.inactive-project {
    opacity: 0%;
    z-index: -1;
}

.media-section {
    position: relative;
    cursor: zoom-in;
}

.project-media {
    width: var(--imgSize);
    border-radius: 2px;

    flex-shrink: 0;
    overflow: hidden;
    display: flex;
}

.project-media img,
.project-media video {
    width: var(--imgSize);
    height: var(--imgSize);
    object-fit: cover;


    position: relative;
    right: 0px;

    transition: right 100ms;
}

.carousel-dots {
    margin: 10px;
    display: flex;
    gap: 5px;

    justify-content: center;
}

.dot {
    width: var(--dotSize);
    aspect-ratio: 1 / 1;
    margin: 0px;
    padding: 0px;
    background-color: var(--bgColor);
    border-radius: 1px;
    border: 1px solid #555;
    box-sizing: border-box;
    display: inline-block;

    transition: background-color 100ms;
}

.dot-select {
    background-color: #555;
    background-color: var(--selectColor);
}

.carousel-btn {
    display: flex;
    justify-content: center;
    position: absolute;
    height: var(--imgSize);
    width: 15%;
    top: 0%;
    opacity: 20%;
    transition: opacity 100ms;
}

.carousel-btn:hover {
    opacity: 100%;
    cursor: pointer;
}

.carousel-previous {
    left: 0%;
}

.carousel-next {
    right: 0%;
}

.carousel-btn img {
    width: 100%;
    height: auto;
}

.carousel-btn.carousel-previous img {
    transform: rotate(180deg);
}

.project-text {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;

    background-color: white;
    border-radius: 2px;
    padding: 15px;
    margin-bottom: 15px;

    height: var(--imgSize);
    box-sizing: border-box;

}

#project-collection {
    width: var(--contentWidth);
    display: flex;
    gap: var(--collectionGap);
    justify-content: left;
    flex-flow: wrap;
    margin-bottom: 50px;
}

.project-tile {
    width: var(--tileSize);
    height: var(--tileSize);
    display: flex;

    object-fit: contain;
}

.project-tile img {

    width: var(--tileSize);
    height: var(--tileSize);

    border-radius: 2px;
    border: 3px solid var(--bgColor);
    box-sizing: border-box;
    object-fit: cover;

    transition: border 200ms;
    cursor: pointer;
}

#tile-highlighted {
    border: 3px solid #f66;
}

footer {
    background-color: var(--bgColor);
    width: 100vw;
    display: flex;
    justify-content: center;

    bottom: 0;
    z-index: 2;
}

#copyright {
    font-family: Calibri;
}



@media screen and (orientation: portrait) {

    :root {
        --contentWidth: calc(100vw / 10 * 9);
        --imgSize: calc(var(--contentWidth) * 9 / 10);
        --tileSize: calc((var(--contentWidth) / 2) - var(--collectionGap) + 2px);
    }

    .focus-project {
        flex-direction: column;
        align-items: center;

        height: calc(var(--contentWidth) * 2);
    }

    .focus-project {
        gap: 0px;
    }

    .project-text {
        width: var(--imgSize);
        margin-top: 0;
        background-color: var(--accentColor);
    }


}

#overlay {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;

    display: none;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    object-fit: fill;

}

#overlay>* {
    cursor: zoom-out;
    max-width: 95%;
    max-height: 95%;

}

/* width */
::-webkit-scrollbar {
    width: 30px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 2px;
}

.focus-project ::-webkit-scrollbar-thumb {
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #eee;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--selectColor);
}