:root {
    --imgSize: 300px;
}

* {
    margin: 0px;
    font-family: Calibri;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.focus-project {
    width: 80vw;
    background-color: #eee;
    display: flex;
    gap: 20px;

    border-radius: 20px;

    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 40px;
}

.project-media {
    width: var(--imgSize);
    overflow: hidden;
    display: flex;
}

.focus-project img {
    width: var(--imgSize);
    height: var(--imgSize);
    border-radius: 15px;

    position: relative;
    right: 0px;
}

#project-collection {
    width: 80vw;
    background-color: red;

    display: flex;
    gap: 5px;
    justify-content: left;
    flex-flow: wrap;
}

.project-tile {
    width: 120px;
    height: 120px;
   
    display: flex;
}

.project-tile img {
    border-radius: 20px;
    border: 8px solid #eee;
}