* {
    margin: 0px;
    font-family: Calibri;
}

header {
    height: 100px;
    background-color: #444;
}

#main-content {
    display: flex;
    justify-content: center;
    padding: 100px;
}

#project-grid {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.project-tile {
    background-color: grey;
    padding: 5px;
    border-radius: 10px;
    display: flex;
}

.info-container {
    padding: 20px;
}

.project-tile img {
    height: 200px;
    border-radius: 7px;
    cursor: pointer;
}