* {
    margin: 0px;
    font-family: Calibri;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-collection {
    width: 80vw;
    background-color: red;

    display: flex;
    gap: 5px;
    justify-content: left;
    flex-flow: wrap;
}

.project-tile {
    width: 120px;
    height: 120px;
   
    display: flex;
}

.project-tile img {
    border-radius: 20px;
    border: 8px solid #eee;
}