:root {
    --imgSize: 300px;
    --tileSize: 146px;
}

* {
    margin: 0px;
    font-family: Calibri;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.focus-project {
    width: 600px;
    background-color: #eee;
    display: flex;
    gap: 20px;

    border-radius: 2px;

    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 20px;

    position: absolute;
    opacity: 50%;
    z-index: -1;

    transition: opacity 100ms;
}

.default-project {
    position: relative;
    opacity: 100%;
    z-index: 1;
}

.project-media {
    width: var(--imgSize);

    flex-shrink: 0;
    overflow: hidden;
    display: flex;
}

.focus-project img {
    width: var(--imgSize);
    height: var(--imgSize);

    border-radius: 2px;

    position: relative;
    right: 0px;

    transition: right 100ms;
}

.carousel-dots {
    margin: 10px;
    display: flex;
    gap: 5px;

    justify-content: center;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0px;
    padding: 0px;
    background-color: #ccc;
    border-radius: 2px;
    border: 2px solid #555;
    box-sizing: border-box;
    display: inline-block;
}

.dot-select {
    background-color: #555;
}

#project-collection {
    width: 600px;

    display: flex;
    gap: 5px;
    justify-content: left;
    flex-flow: wrap;
}

.project-tile {
    width: var(--tileSize);
    height: var(--tileSize);
   
    display: flex;
}

.project-tile img {
    border-radius: 2px;
    border: 3px solid #eee;
    cursor: pointer;

    transition: border 200ms;
}