header {
    height: 100px;
    background-color: #444;
}

#main-content {
    display: flex;
    justify-content: center;

    margin-top: 200px;
}

#project-grid {
    display: flex;
    gap: 5px;
}

.project-tile {
    background-color: grey;
    padding: 5px;
    border-radius: 10px;
    display: flex;
}

.info-container {
    padding: 20px;
}

.project-tile img {
    height: 200px;
    border-radius: 10px;
}