* {
    margin: 0px;
    font-family: Calibri;
}

header {
    height: 100px;
    background-color: #444;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.project-row {
    display: flex;
    
    
    gap: 5px;
    margin-top: 5px;
}

.project-tile {
    background-color: #eee;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    max-width: 400px;
    max-height: 200px;
    transition: width 100ms ease-in-out;
}

.info-container {
    padding: 20px;
}

.project-tile img {
    height: 200px;
    border-radius: 7px;
    cursor: pointer;
    -webkit-user-drag: none;
}