:root {
    --dotSize: 12px;
    --selectColor: #f66;
    --accentColor: #888;
    --bgColor: #ddd;
    --contentWidth: 900px;
    --collectionGap: 5px;

    --imgSize: calc(var(--contentWidth) * 2 / 3);
    --tileSize: calc((var(--contentWidth) / 4) - var(--collectionGap) + 1px); 
}

@font-face {
    font-family: kanit;
    src: url(font/Kanit-Regular.ttf);
}

* {
    margin: 0px;
    font-family: kanit;
}

nav {
    display: flex;
    justify-content: space-between;

    background-color: var(--bgColor);

    padding: 0px 10px;
    margin-bottom: 20px;
}

nav ul{
    
    display: flex;
    justify-content: right;
    
    list-style-type: none;
    gap: 10px;
}


#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.focus-project {
    position: absolute;

    width: var(--contentWidth);
    background-color: var(--bgColor);
    display: flex;
    
    gap: 20px;

    border-radius: 15px;

    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 20px;

    transition: opacity 100ms;
}

.default-project {
    position: relative;
}

.active-project {
    opacity: 100%;
    z-index: 1;
}

.inactive-project {
    opacity: 0%;
    z-index: -1;
}

.media-section {
    position: relative;
}

.project-media {
    width: var(--imgSize);
    border-radius: 15px;

    flex-shrink: 0;
    overflow: hidden;
    display: flex;
}

.project-media img, .project-media video{
    width: var(--imgSize);
    height: var(--imgSize);
    object-fit: cover;


    position: relative;
    right: 0px;

    transition: right 100ms;
}

.carousel-dots {
    margin: 10px;
    display: flex;
    gap: 5px;

    justify-content: center;
}

.dot {
    height: var(--dotSize);
    width: var(--dotSize);
    margin: 0px;
    padding: 0px;
    background-color: var(--bgColor);
    border-radius: 2px;
    border: 2px solid #555;
    box-sizing: border-box;
    display: inline-block;

    transition: background-color 100ms;
}

.dot-select {
    background-color: #555;
    background-color: var(--selectColor);
}

.carousel-btn {
    display: flex;
    justify-content: center;
    position: absolute;
    height: var(--imgSize);
    width: 15%;
    top: 0%;
    opacity: 20%;
    transition: opacity 100ms;
}

.carousel-btn:hover {
    opacity: 100%;
    cursor: pointer;
}

.carousel-previous {
    left: 0%;
}

.carousel-next {
    right: 0%;
}

.carousel-btn img {
    width: 100%;
    height: auto;
}

.carousel-btn.carousel-previous img {
    transform: rotate(180deg);
}

.project-text {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;

    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
}

#project-collection {
    width: var(--contentWidth);
    display: flex;
    gap: var(--collectionGap);
    justify-content: left;
    flex-flow: wrap;
    margin-bottom: 50px;
}

.project-tile {
    width: var(--tileSize);
    height: var(--tileSize);
    display: flex;
    
    object-fit: contain;
}

.project-tile img {

    width: var(--tileSize);
    height: var(--tileSize);

    border-radius: 15px;
    border: 3px solid var(--bgColor);
    box-sizing: border-box;
    object-fit: cover;

    transition: border 200ms; 
    cursor: pointer;
}

#tile-highlighted {
    border: 3px solid #f66;
}

footer {
    background-color: var(--bgColor);
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 2;
}



@media screen and (orientation: portrait) {

    :root {
    --contentWidth: calc(100vw / 10 * 9);
    --imgSize: calc(var(--contentWidth) * 9 / 10);
    --tileSize: calc((var(--contentWidth) / 2) - var(--collectionGap) + 2px);
    }

    .focus-project {
        flex-direction: column;
        align-items: center;

        height: calc(var(--contentWidth) * 1.5);
    }

    .focus-project {
        gap: 0px;
    }

    .project-text {
        width: var(--imgSize);
        box-sizing: border-box;
        margin-top: 0;
    }


}