#project-grid {
    background-color: black;
    display: flex;
}

.project-tile {
    background-color: grey;
    padding: 5px;
    border-radius: 10px;
    display: flex;
}

.info-container {
    padding: 20px;
}

.project-tile img {
    height: 200px;
    border-radius: 10px;
}